@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

#myForm {
  height: 100px;
}

.card-text {
  word-wrap: break-word;
}

.card,
.card-deck,
#new_arrivals,
#top_picks {
  margin-right: 15%; /* Added */
  margin-left: 15%;
}
